# Entornos virtuales
env/
.venv/

# Archivos de Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Archivos de log
*.log
*.out
*.err

# Archivos comprimidos
*.zip

# Modelos descargados
*.bin
*.h5
*.onnx

# Configuración de IDEs
.vscode/
.idea/

# Configuración específica de despliegue
.azure/
.railway/

# Ignorar DLLs o configuraciones específicas del sistema operativo
*.dll
*.ini